.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.container a {
  text-decoration: none;
}

.chield {
  background-color: #2d31ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 120px;
  height: 120px;
  text-align: center;
  box-shadow: 1px 2px 3px black;
}

.chield:hover {
  background-color: #1e20a7;
  transition: ease-in-out 300ms;
}

.chield img {
  width: 50px;
  filter: invert(100%);
  
}

.containerTitle {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTitle img {
  margin-bottom: 4px;
  margin-right: 10px;
  width: 40px;
}