.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 60px;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "sidebar main main"
    ;
    
}

.linkContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.linkContainer img {
    width: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav h1 {
    color: white;
    font-size: 20pt;
}

.container header {
    display: flex;
    grid-area: header;
    padding: 10px;
    background-color: black;
}

.container header a {
    text-decoration: none;
    color: white;
}

.container header button {
    background-color: #ffffff;
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12pt;
}

.container aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sidebar;
    background-color: #b1b1b1;
}

.container aside a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 11pt;
}

.container main {
    grid-area: main;
    height: 100%;
    background-color: rgb(255, 255, 255);

}

.container footer {
    grid-area: footer;
    background-color: black;
}

.linkContainer:hover {
    background-color: rgba(0, 0, 0, 0.082);
    
}


/*
.container {
    background-color: #333;
    border: 2px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 10% 10%;
    height: 35vh;
    grid-template-rows: 70% 30%;
    gap: 5px;
}

.layout {
    background-color: #CCC;
    padding: 20px;
    border: 1px solid blue;
}
*/




/*
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem;
    color: white;
}

.header a {
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 12pt;
    text-decoration: none;
}

.header button {
    background-color: crimson;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 12pt;
    border: none;
    cursor: pointer;
    color: white;
}

.content {
    padding: 25px;
    height: 100%;
}
*/


