.headerTable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.headerTable h2 {
    margin: 20px 0px;
}

.headerTable button {
    background-color: #2d31ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 3px black;
    z-index: 1;
}

.headerTable button:hover {
    background-color: rgb(3, 5, 155);
}

.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headerButton img {
    width: 25px;
}